.menuActive {
    font-weight: bold !important;
}

.userView {
    .white-text {
        font-size: 1em !important;
        font-style: italic;
        margin-top: -24px;
        margin-left: 70px;
    }
}