<ul id="sideBar" class="side-nav fixed">
    <li>
        <div class="userView">
            <div class="block"></div>
        </div>
    </li>
    <li>
        <div class="divider">
        </div>
    </li>
    <li>
        <a href="#">Item</a>
    </li>
</ul>